
.content {
    height: auto;
    width: auto;
}
.content .container {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    width: 60vw;
    max-width: 60vw;
}
.content .container .title-stiri {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.content .container .title-stiri h1 {
    font-size: 5rem;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    /*border-radius: 40px;*/
}

/*--------------------------TRELEA WORK RESPECT--------------------------*/

.content .container .trelea-has-written {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .container .trelea-has-written .trelea-text a{
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.content .container .trelea-has-written .trelea-text p {
    color: #565656;
    padding: 5px;
    font-size: 1.25rem;
}
.content .container .trelea-has-written .trelea-text p:hover {
    text-decoration: underline 2px;
}


/*--------------------------START NEWS SECTION--------------------------*/

.content .container .news-stiri {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.content .container .news-stiri .col1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content .container .news-stiri .col1 .new-container {
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.507);
    width: 350px;
    margin: 10px;
    border-left: 5px solid rgba(0, 0, 0, 0.494);
    transition: 1s all ease;
}
.content .container .news-stiri .col1 .new-container:hover {
    background-color: #000000;
    color: white;
}
.content .container .news-stiri .col1 .new-container:hover .text .description p {
    color: rgb(255, 255, 255);
}
.content .container .news-stiri .col1 .new-container .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .container .news-stiri .col1 .new-container .img img {
    width: 345px;
    border-top-right-radius: 15px;
}
.content .container .news-stiri .col1 .new-container .text {
    padding: 15px;
}
.content .container .news-stiri .col1 .new-container .text .title-text {
    font-size: 1rem;
}
.content .container .news-stiri .col1 .new-container .text .description p{
    color: #565656;
    padding-top: 15px;
}
.content .container .news-stiri .col1 .new-container .text .description p:hover{
    color: #d21a1a;
}