
.content-home .content {
    display: flex;
    flex-direction: column;
}
.content-home .content .img {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    box-shadow: 0px 0px 10px 0px black;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.content-home .content .img img {
    width: 89.5vw;
    height: 400px;
    object-fit: cover;
    object-position: 0px 30%;
    opacity: 0.5;    
}
.content-home .content .img .title-stiri {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-home .content .img .title-stiri p {
    position: absolute;
    font-size: 6rem;
    color: white;
    border: 5px solid white;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 100px;
}
.content-home .content .title-and-img {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    z-index: 100;
    
    
}
.content-home .content .title-and-img .img-o {
    position: absolute;
    top: 100px;
    left: -50px;
}
.content-home .content .title-and-img .img-o img{
    width: 900px;
    box-shadow: 0px 0px 10px 0px black;
    border: 1px solid white;
}
.content-home .content .title-and-img .text {
    top: 250px;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    position: absolute;
    width: 900px;
    box-shadow: 0px 0px 10px 0px black;
    background-color: white;
}
.content-home .content .title-and-img .text h1 {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
.content-home .content .title-and-img .text .g {
    color: rgb(31, 186, 41);
    text-decoration: underline 2px rgb(31, 186, 41);
}
.content-home .content .title-and-img .text .b {
    color: rgb(31, 134, 186);
    text-decoration: underline 2px rgb(31, 134, 186);
}
.content-home .content .title-and-img .text .u {
    color: rgb(186, 31, 72);
    text-decoration: underline 2px rgb(186, 31, 72);
}
.content-home .content .title-and-img .text .hov:hover {
    font-size: 3.25rem;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
}
.content-home .content .container {
    margin-top: 600px;
}
.content-home .content .container .loc-and-ads-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-home .content .container .loc-and-ads-container .locations {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.content-home .content .container .loc-and-ads-container .locations .location-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 0px black;
    border-radius: 10px;
    width: 900px;
    margin-bottom: 80px;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .title .nr {
    aspect-ratio: 1/1;
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .title .nr p {
    color: white;
    font-size: 1.5rem;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .title h1 {
    margin-left: 20px;
    font-size: 2rem;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .img-loc img{
    width: 900px;
    height: 500px;
    object-fit: cover;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .text {
    padding: 20px;
}
.content-home .content .container .loc-and-ads-container .locations .location-container .text p {
    font-size: 1rem;
    color: #333;
    font-family: "Avenir","Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content-home .content .container .loc-and-ads-container .ads .ad {
    margin-top: 40px;
    margin-bottom: 40px;
}
.content-home .content .container .loc-and-ads-container .ads .ad::before { 
    content: 'Advertisment.';
    text-decoration: underline;
}


